$bg-color: #282c34;
$color-dark-purple: #1f2029;
$display-color: #b4cca6;
$inner-shadow: inset 0 -2px 4px #cecece, inset 0 1px 15px #000;
$top-left-gr-black: linear-gradient(162deg, #3c3c3c 10%, #000 68%, #000 100%);

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

@mixin inners($color) {
  box-shadow: inset -1px -2px 4px darken($color, 15),
    inset 1px 2px 4px lighten($color, 25);
}
@mixin gradientleft($color) {
  background: linear-gradient(
    162deg,
    lighten($color, 12) 20%,
    $color 68%,
    $color 100%
  );
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.calc-container {
  width: 300px;
  height: 450px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: $inner-shadow;
  background: linear-gradient(
    162deg,
    rgba(230, 229, 229, 1) 0%,
    rgba(210, 210, 210, 1) 43%
  );

  .header-wrapper {
    display: flex;
    align-items: center;
    margin: 0.7rem 0.7rem 0.2rem 0;
    .calc-name {
      text-transform: uppercase;
      padding-left: 0.7rem;
      font-family: "Rajdhani", sans-serif;
      font-weight: 700;
      letter-spacing: 2px;
    }

    .solar {
      background: darken($display-color, 5);
      width: 50px;
      height: 20px;

      margin-left: auto;
      box-shadow: inset 0 -2px 4px #cecece, inset 0 1px 15px #000;
      display: flex;
      border-radius: 3px;

      span {
        margin-left: auto;
        width: 1.7px;
        height: inherit;
        background: linear-gradient(
          327deg,
          rgba($display-color, 0.4) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }
    }
  }

  .display-wrapper {
    background: $display-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.7rem 0;
    text-align: right;
    box-shadow: $inner-shadow;
    // font-family: "Orbitron", sans-serif;
    font-family: "Digital";
    font-size: 1.5rem;
    overflow: hidden;
    font-weight: bold;
    height: 66.8px;
    .display {
      opacity: 0.8;
    }
    .formula {
      font-size: 1rem;
      opacity: 0.5;
      height: 26.4px;
    }
  }
  h3 {
    margin: 0.7rem 0;
  }
}

.buttons-wrapper {
  padding-top: 1rem;
  display: grid;
  grid-template-areas:
    "ac ac divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "zero zero decimal equals";
  grid-gap: 10px;
  .buttons {
    color: white;
    border-radius: 7px;
    padding: 0.7rem 1rem;
    border: none;
    box-shadow: $inner-shadow;
    background: $top-left-gr-black;
    font-size: 1.3rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(0.97);
    }
  }
  grid-template-columns: repeat(4, 1fr);
  #clear {
    grid-area: ac;
    @include gradientleft(#655168);
    @include inners(#655168);
  }
  #equals {
    grid-area: equals;
  }
  #zero {
    grid-area: zero;
  }
  .nbr {
    @include gradientleft(#1f1d1f);
    @include inners(#1f1d1f);
  }
}
